<section>
    <div class="row">
        <div class="col-xl-3 col-sm-6 col-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="align-self-center">
                            <i class="fas fa-thin fa-user fa-3x"></i>
                        </div>
                        <div>
                            <h3>0</h3>
                            <p class="mb-0">Total student</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 col-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="align-self-center">

                            <i class="fas fa-solid fa-user-plus fa-3x"></i>

                            
                        </div>
                        <div>
                            <h3>0</h3>
                            <p class="mb-0">Total Professor</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        

        <div class="col-xl-3 col-sm-6 col-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="align-self-center">
                            <i class="fas fa-solid fa-archway fa-3x"></i>
                         </div>
                        <div>
                            <h3>0</h3>
                            <p class="mb-0">Total Batch</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 col-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="align-self-center">
                            <i class="fas fa-solid fa-users fa-3x"></i> 
                        </div>
                        <div>
                            <h3>0</h3>
                            <p class="mb-0">Total group</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>